* {
    margin: 0;
    padding: 0;
    background-color: #fff;
    /* font-family: "Bebas Neue", sans-serif;
    font-style: normal; */
}

/***************************************** NAVIGATION *****************************************/
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* chat gpt */
/* Hide the checkbox input */
#menu-toggle {
    display: none;
}

/* Hamburger icon */
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
}



/***************************************** HERO SECTION *****************************************/
.hero-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
    background-color: transparent;
    width: 37%;
    z-index: 10;

}

.hero-text p {
    padding-top: 30px;
    background-color: transparent;
}
.hero-text h1 {
    background-color: transparent;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
}

.hero-img img {
    --mask: linear-gradient(to top, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 70%, 
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;

    -webkit-mask: var(--mask); 
    mask: var(--mask);

    z-index: 0;
}

/***************************************** INFO SECTION *****************************************/
.get-in-touch {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 80vh;
}

.get-in-touch-header1 {
    font-size: 40px;
}

.get-in-touch-header2, .info-box-middle p {
    font-size: 25px;
}

.info {
    background-color: #8f0e0e;
    display: grid;
}

.info-box {
    margin: 50px;
    background-color: #8f0e0e;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.info-box-top {
    background-color: #8f0e0e;
    height: 150px;
}

.info-box-middle {
    background-color: #8f0e0e;
    height: 150px;
}

.info-box-bottom {
    background-color: #8f0e0e;
    height: 150px;

    display: flex;
    flex-direction: row;
}

.info-box-bottom p {
    font-size: 22px;
}

.info-box-bottom-left {
    background-color: #8f0e0e;
    height: 150px;
    width: 100%;
}

.info-box-bottom-right {
    background-color: #8f0e0e;
    height: 150px;
    width: 100%;
}


.info p {
    background-color: #8f0e0e;
    color: #fff;
}

.map {
    background-color: #f0f0f0;
    display: grid;
}

.map-box {
    margin: 50px;
    background-color: #f0f0f0;
}

.google-map {
    height: 100%;
    width: 100%;
}

/***************************************** OUR STORY *****************************************/
.our-story {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 80vh;
}

.our-story-textbox {
    display: grid;
    margin: 30px;
    padding-top: 70px;
}

.our-story-header {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #8f0e0e;
}

.our-story-paragraph{
    font-size: 30px;
    padding-top: 20px;
}

.our-story-img {
    display: grid;
}

.our-story-img img{
    margin: auto;
}

/***************************************** REVIEW SECTION *****************************************/
.review-header {
    position: relative;
    display: inline-block;

}
.review-header img{
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(0.65); 
}

.review-header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.review-header p {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: white; 
    text-align: center;
}

.review-header-top {
    margin-top: -100px;
    font-size: 75px;
}

.review-header-bottom {
    font-size: 50px;
    margin-top: 30px;
}

.reviews {
    display: grid;
    text-align: center;
    align-items: center;
    padding: 0 10vw 0 10vw;
}

.review1, .review2, .review3, .review4, .review5 {
    padding: 25px 50px 25px 50px;
}

.line-bottom {
    border-bottom: 1px solid #C5C6C7;
    padding-top: 10px;
}

.name, .stars, .text, .date {
    padding-top: 5px;
}

.fa-star {
    color: gold;
}




/***************************************** SERVICE *****************************************/
.service {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 70vh;
}

.service-header {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #8f0e0e;
    padding-top: 35px;
}

.service-paragraph {
    font-size: 30px;
    padding-top: 15px;
}

.service-text, .service-text p, .service-img {
    background-color: #e1e1e1;
}

.service-text {
    padding: 50px;
}

.service-img {
    display: grid;
}

.service-img img {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e1e1e1;
}




/***************************************** GALLERY *****************************************/
.gallery {
    background-color: white;
    width: 100%;
}

.Gallery-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Gallery-header h1{
    padding-left: 25px;
    padding-right: 25px;
}

.gallery-images {
    padding: 25px 0 25px 0;
}

.gallery-images img {
    padding:10px;
}

.gallery-images-row1, .gallery-images-row3, .gallery-images-row4, .gallery-images-row5 {
    display: flex;
    justify-content: center;  
}

.gallery-images-row2 {
    display: flex;
    justify-content: center ;
}

.gallery-images-row2 img, .gallery-images-row4 img {
  padding-top: 10px;
  padding-bottom: 10px;
}




/***************************************** News *****************************************/
.News-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.News-header h1{
    padding-left: 25px;
    padding-right: 25px;
}

.line {
    border: none; 
    border-top: 2px solid #8f0e0e; 
    width: 15%; 
    transform: translateY(13px);
}

.news-content {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.news {
    padding: 30px;
}

.news-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A6815F;
    padding: 10px;
}
.news-top p{
    background-color: #A6815F;
    color: white;
}

.news-bottom {
    padding: 10px;
    background-color: #EEEEEE;
}

.news-bottom p {
    background-color: #EEEEEE;
}




/***************************************** FOOTER *****************************************/
.footer-text {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 0px 50px;
    background-color: #8f0e0e;
    color: white;
} 

.footer-text-left  {
    padding: 5px;
    background-color: #8f0e0e;
    display: flex;
    flex-direction: column;
}

.footer-text-left a {
    background-color: #8f0e0e;
    color: white;
    text-decoration: none;
    padding-top: 3px;
}

.footer-text-right {
    padding: 5px;
    background-color: #8f0e0e;
}

.footer-text-right p {
    background-color: #8f0e0e;
}

.p1, .p2 {
    text-align: end;
    background-color: #8f0e0e;
}

.footer-line {
    border-bottom: 1px solid white;
    background-color: #8f0e0e;
    margin-bottom: 10px;
}

.footer-bottom-text {
    padding: 20px 50px 25px 50px;
    background-color: #8f0e0e;
    color: white;
}

.footer-bottom-text p {
    background-color: #8f0e0e;
}

.icon {
    background: none;
}

/* Sticky Footer CSS */
footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8f0e0e;
    color: white;
  }




/***************************************** PHONE *****************************************/
@media (max-width: 600px) {
  /* Adjust the header */
  .header nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    margin-top: 20px;
    text-align: center;
  }

  .nav-links ul li {
    display: block;
    margin-bottom: 10px;
  }


  /* Adjust the hero section */
  .hero-text {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    font-size: large;
    margin-top: -30%;
  }

  .hero-text {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff; /* Create the outline effect */
  }

  .hero-img {
    justify-content: center;
  }

  .hero-img img {
    max-width: 100vw;
    height: auto;
  }

  /* Adjust the Get in touch section */
  .get-in-touch {
    grid-template-columns: 1fr;
    height: auto;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info-box {
    margin: 20px;
  }

  .info-box-top p, .info-box-middle p, .info-box-bottom p{
    font-size: 20px;
  }

  .info-box-bottom {
    display: flex;
    flex-direction: column;
  }
  .info-box-bottom-right {
    padding-top: 20px;
  }

  .map-box {
    margin: 20px;
  }

  /* Adjust the Our story section */
  .our-story {
    grid-template-columns: 1fr;
    height: auto;
    width: auto;
  }

  .our-story-textbox {
    padding-top: 20px;
  }

  .our-story-img img {
        max-width: 100vw;
        height: auto;
  }

  /* Adjust the Review section */
  .review-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review-header img {
    width: 100%;
  }

  .review-header-text {
    position: static;
    text-align: center;
  }

  .review-header-top {
    font-size: 20px;
    margin-top: 10px;
    margin-top: -10px;
  }

  .review-header-bottom {
    font-size: 15px;
    margin-top: 25px;
  }

  .reviews {
    padding: 0 5%;
  }

  .review1, .review2, .review3, .review4, .review5 {
    padding: 20px;
  }

  .name, .stars, .text, .date {
    font-size: 18px;
  }

  /* Adjust the Service section */
  .service {
    grid-template-columns: 1fr;
    height: auto;
  }

  .service-header {
    font-size: 30px;
  }

  .service-paragraph {
    font-size: 20px;
  }

  .service-text {
    padding: 20px;
  }

  .service-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .service-img img{
    max-width: 100vw;
    height: auto;
  }

  /* Adjust the Footer */
  .footer-text {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .footer-text-left,
  .footer-text-right {
    text-align: center;
    margin-bottom: 15px;
  }

  .footer-bottom-text {
    text-align: center;
  }
  .p1, .p2 {
    text-align: center;
  }
}